html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 50px;
  padding: 30px 30px;
  margin: 10px 20px;
  width: 25vw;
  border: black solid 3px;
  border-radius: 10px;
}

.display-image {
  float: left;
  width: 18.5vw;
  height: 20vw;
  object-fit: cover;
}

#btn {
  font-size: 30px;
  width: 25vw;
  padding: 20px 20px;
  margin: 30px 0px;
  border: 1px black solid;
}

.error {
  font-size: 7rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 30px 30px;
  margin: 10px 20px;
  background-color: rgb(250, 205, 212);
}

#breed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  width: 25vw;
  padding: 20px 20px;
  margin: 30px 0px;
  border: 1px black solid;
}

.form, .form-parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 50px;
}

.form-input